<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/gradient"
    android:paddingBottom="@dimen/activity_vertical_margin"
    android:paddingLeft="@dimen/activity_horizontal_margin"
    android:paddingRight="@dimen/activity_horizontal_margin"
    android:paddingTop="@dimen/activity_vertical_margin">
    <TextView
        android:id="@+id/textViewTrackTitle"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="5sp"
        android:gravity="center_horizontal"
        android:text="@string/TrackTitle"
        android:textColor="@color/darkGrey"
        android:textSize="20sp"
        android:maxLines="1" />
    <TextView
        android:id="@+id/textViewTrackArtistAlbum"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="5sp"
        android:gravity="center_horizontal"
        android:text="@string/TrackArtistAlbum"
        android:textColor="@color/white"
        android:textSize="17sp"
        android:maxLines="1" />
    <ImageView
        android:id="@+id/imageViewAlbumArt"
        android:layout_width="150dp"
        android:layout_height="150dp"
        android:layout_gravity="center_horizontal"
        android:layout_marginTop="10dp"
        android:src="@drawable/default_album" />
    <SeekBar
        android:id="@+id/seekBarTrack"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="15dp" />
    <LinearLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="center_horizontal"
        android:layout_marginTop="20dp"
        android:layout_marginBottom="15dp">
        <ImageButton
            android:id="@+id/buttonPrevious"
            android:layout_width="80dp"
            android:layout_height="80dp"
            android:background="@android:color/transparent"
            android:onClick="previousButtonClicked"
            android:src="@drawable/button_previous"
            android:scaleType="fitXY" />
        <ImageButton
            android:id="@+id/buttonPlayPause"
            android:layout_width="80sp"
            android:layout_height="80sp"
            android:layout_marginLeft="15sp"
            android:layout_marginRight="15sp"
            android:background="@android:color/transparent"
            android:onClick="playPauseButtonClicked"
            android:src="@drawable/button_pause"
            android:scaleType="fitXY" />
        <ImageButton
            android:id="@+id/buttonNext"
            android:layout_width="80sp"
            android:layout_height="80sp"
            android:background="@android:color/transparent"
            android:onClick="nextButtonClicked"
            android:src="@drawable/button_next"
            android:scaleType="fitXY" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="10dp"
        android:orientation="horizontal">
        <Button
            android:id="@+id/buttonTracklist"
            style="@style/ButtonPlayer"
            android:onClick="tracklistButtonClicked"
            android:text="@string/ButtonTracklist" />
        <ToggleButton
            android:id="@+id/toggleButtonRepeat"
            style="@style/ButtonPlayer"
            android:onClick="repeatButtonClicked"
            android:textOff="@string/ToggleButtonRepeatOff"
            android:textOn="@string/ToggleButtonRepeatOn" />
    </LinearLayout>
</LinearLayout>